{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
        </nav>
    </header>
    <main>
        <h1> {{ recipe_object.title }}</h1>
        <div>
            <img src="{{ recipe_object.picture }}">
        </div>
        <div>
            <figcaption>4.3 stars</figcaption>
        </div>
        <p> {{ recipe_object.description }} </p>

        <h2>Ingredients</h2>
        <table>
            <tr>
                <th>Amount</th>
                <th>Food item</th>
            </tr>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ingredient.amount}}</td>
                <td>{{ingredient.food_item}}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{step.instruction}}</li>
            {% endfor %}
        </ol>
        <p>{{ recipe.created_on | date:"j F Y" }}</p>
    </main>
{% endblock content %}
