@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-size: 110%;
    background: linear-gradient(-40deg, rgb(158, 255, 226) , pink);
    padding-left: 15px;
}

main > p {
    padding-bottom: 50px;
}

img {
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px rgb(255, 255, 255), -.4em 0 .4em rgb(0, 0, 0);
}

body {
    margin: 0px;
    padding-bottom: 50px;
    background-color: #21201f;
}

main {
    padding: 5px;
    padding-bottom: 50px;
}

footer {
    margin-top: 150px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 5px;
    padding-right: 0px;
    background-color: linear-gradient(40deg, rgb(158, 255, 226) , pink);
    font-weight: bold;
}

h1 {
    color: #000000;
}

.shadow-effect {
    text-shadow: 1px 1px 2px inherit;;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: green;
}

main > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: auto;
    gap: 10px;
}

main div div a {
    color: rgb(0, 0, 0);
}

header > nav {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-columns: 100px 150px;
    gap: 10px;
    font-weight: bold;
}

figcaption {
    font-weight: bold;
    font-style: italic;
    font-size: 90%;
    color: black;
}

tr:not(:first-child) + :nth-child(odd) {
    background-color: rgb(229, 253, 246);
}
